.underline {
    text-decoration: underline;
}

h2 {
    color: chocolate;
}

.heading {
    background-color: orangered;
    text-align: center;
}

p {
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
}



strong {
    color: red;
}

:root {
    margin: 2%;
}