/* Custom Properties */

:root {
    --oneColor:rgb(125,125,0);
    --twoColor:rgb(80,200,55);
    --threeColor:rgb(30,150,180);
    --fourColor:rgb(200,20,20);
}





.underline {
    text-decoration: underline;
}
h1 {
    color: var(--oneColor);
}
h2 {
    color: var(--fourColor);
}

a {
    text-align: center;
    padding: 5px;
}
.heading {
    background-color: var(--fourColor);
    text-align: center;
}
h1 h2 h3 {
    font-family: 'Times New Roman', Times, serif;
}
p {
    color: var(--twoColor);
    font-family: 'Times New Roman', Times, serif;
}

img {
    size: 4rem;
}

.me {
    border: 30px double goldenrod ;
}

strong {
    color: red;
}
body {
    background-color: var(--threeColor);
}
.forgot::selection {
    color: blanchedalmond;
}

h2::before {
    content:url('https://pin.it/4l1l3KL')
}

